html { box-sizing: border-box; }

body {
	background-image: url("img/bg.jpg");
	background-repeat: repeat-x;
}

p {
	line-height: 1.5;
	color: #656565;
	margin-top: 5px;
}

body, html {
	font-family: Arial;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

a {
	text-decoration: none;
}

a:hover {
	color:black;
}

nav li {
	display: inline-block;
}

ul {
	list-style-type: none;
}

section h2 {
	color: #b15e23;
	font-size: 20px;
	font-weight: normal;
}

section h3 {
	margin: 0;
}

footer {
	position: absolute;
	left: 0;
	margin: 50px 0 0 0;
	padding: 0;
	width: 100%;
	background-image: url(img/footer_bg.gif);
	background-repeat: repeat;
}

.footer {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

#prednasky a, #cviceni a {
	color: black;
	font-size: 16px;
}

#pre-main-heading {
	margin-bottom: 0;
	color: white;
	font-style: italic;
	font-size: 50px;
}

#main-heading {
	margin-top:0;
	font-size: 20px;
}

#main-heading a {
	color:#b15e23;
}

.main-nav ul {
	padding-left: 0;
	padding-top: 25px;
}

.nav-list a {
	font-size: 14px;
	padding-right: 10px;
	color: white;
	position: relative;
}

#o-predmetu h2 {
	margin-top: 35px;
}

#o-predmetu p {
	font-size: 13px;
	margin-bottom: 100px;
}

.main-nav ul li a:hover::after {
	position: absolute;
	display: block;
	content: url("img/menu_bullet.gif");
	bottom: -140%;
	left: 20px;
}

#prednasky .section-heading {
	border-bottom: 1px dotted #b15e23;
}

#cviceni .section-part {
	border-bottom: 1px dotted #b15e23;
	margin-bottom: 20px;
}

#cviceni .section-part img {
	padding: 15px 0px;
}

#cviceni .section-part img {
	vertical-align: top;
	display:inline-block;
}

#cviceni .section-part p {
	display:inline-block;
	padding-left: 20px;
	margin-top: 35px;
}

.results-table {
	outline: 3px solid black;
	width: 600px;
}

.results-table th {
	color: #656565;
	background: #d5a17c;
	border: 3px dotted black;
	border-bottom: 3px solid black;
}

.results-table td {
	border-top: 2px solid black;
	border-bottom: 2px solid lightgrey;
}

#kontakt h2, #souvisejici h2 {
	color: white;
}


.contact-list dt {
	color: white;
	font-size: 12px;
	float: left;
	width: 100px;
	text-align: left;
}

.contact-list dt:after {
	content: ":";
}

.contact-list dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
	color: #d5a17c;
	font-size: 14px;
}

.contact-list dd a {
	color: #d5a17c;
}

.souvisejici-list a {
	color: #d5a17c;
}

.souvisejici-list a:hover {
	border-bottom: 1px solid #d5a17c;
}

.souvisejici-list ul {
	padding-left: 25px;
}

.souvisejici-list li {
	margin-bottom: 10px;
	font-size: 14px;
}

.souvisejici-list {
	list-style-image: url(img/footer_list_bullet.gif);
}


